body {
    margin: 0;
}

@font-face {
    font-family: "meineFont";
    src: url("../assets/Imperial_Script\,Lobster\,Satisfy/") format("truetype");
    font-weight: 400;
}
@font-face {
    font-family: "meineFont";
    src: url("../assets/Imperial_Script\,Lobster\,Satisfy/") format("truetype");
    font-weight: 700;
}

.restaurant-name {
    display: flex;
    font-family: "meineFont", cursive;
    font-size: 40px;
    color: white;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.7);
    margin-left: 16px;
}

.liefer-info {
    display: flex;
    margin-top: 8px;
    color: white;
    font-size: 16px;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.7);
    margin-left: 16px;  
}

.restaurant-description {
    display: flex;
    font-family: "meineFont", cursive;
    color: white;
    font-size: 24px;
    margin-top: 8px;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.7);
    margin-left: 16px;
}